
.icon-home:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-layout:before { content: '\e803'; } /* '' */
.icon-direction:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-left-bold:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
