@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
body
{
    background: black;
    color: white;
    font-family: "Kode Mono", monospace !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
}
span
{
    font-family: "Kode Mono", monospace !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
}
.title
{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
}
#ufo
{
    width: 30%;
    animation: ufo 15s infinite;
    user-select: none;
}
#exp
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4000px;
    margin: 0;
    position: absolute;
}
iframe
{
    left: 31%;
    top: 1%;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
}
#tipbutton
{
    background: rgb(0, 0, 0);
    border-radius: 15px;
    left: 11%;
    top: 5%;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    user-select: none;
    color: white;
    border-style: solid;
    border-width: 5px;
}
#free
{
    background: rgb(64, 153, 0);
    border-radius: 15px;
    left: 7.5%;
    top: 90%;
    width: 150px;
    font-size: 20px;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    user-select: none;
    color: white;
    border-style: solid;
    border-width: 2.5px;
}
#free:hover
{
    cursor:pointer;
}
#credits
{
    background: rgb(97, 97, 97);
    border-radius: 15px;
    left: 95%;
    top: 5%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    user-select: none;
    color: white;
    border-style: solid;
    border-width: 2.5px;
}
#tikbutton
{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    left: 2.5%;
    top: 5%;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    color: white;
    width: 75px;
}
#meme
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    color: white;
}
#left
{
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    background: gray;
    width:50px;
    height: 50px;
    user-select: none;
    text-align: center;
    border: 2.5px white solid;
    border-radius: 5px;
}
#right
{
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    background: gray;
    width:50px;
    height: 50px;
    user-select: none;
    text-align: center;
    border: 2.5px white solid;
    border-radius: 5px;
}
#left:hover
{
    cursor:pointer;
}
#right:hover
{
    cursor:pointer;
}
#counter
{
    text-align: right;
}
#door
{
    width: 5%;
    left: 30%;
    top: 85%;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    border: 2.5px white solid;
    border-radius: 5px;
}
#door:hover
{
    cursor: pointer;
    width: 6%;
}
a
{
    font-size: 15px;
}
@keyframes ufo
{
    0% {transform: translateX(0px) translateY(0px);}
    10% {transform: translateX(450px) translateY(74px);}
    20% {transform: translateX(290px) translateY(100px);}
    30% {transform: translateX(750px) translateY(450px);}
    40% {transform: translateX(80px) translateY(200px);}
    50% {transform: translateX(650px) translateY(65px);}
    60% {transform: translateX(75px) translateY(350px);}
    70% {transform: translateX(250px) translateY(76px);}
    80% {transform: translateX(250px) translateY(35px);}
    90% {transform: translateX(800px) translateY(100px);}
    100% {transform: translateX(0px) translateY(0px);}
}
